/* common style */
* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
.container {
  width: 1300px;
  height: 600px;
}
/* group-1 style */
.group-1 {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  margin: 20px 100px 140px 72px;
  background-image:linear-gradient(to left,rgb(20, 14, 19,1),rgba(245, 246, 252, 0.1)),
  url("../resources/Banner\ Image.png");
  border-radius: 16px;
  background: #070211 0%, rgba7, 100, 140, 0 100%;
}
.group-1-text {
  padding: 100px 50px 0px 50px;
  margin: 40px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.group-1-header {
  width: 632px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  margin: 10px auto;
}
/* group-2 style */
.group-2 {
  width: 800px;
  height: 500px;
  margin: 120px auto;
  background-color: #fff;
}
.group2-header {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
}
.group-2-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 5px;
}
.group-2-header2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.group-2-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
/* group-3 style */
.group-3 {
  margin: 120px auto;
  background-image:
  linear-gradient(to left, rgba(245, 246, 252, 0.10), rgb(20, 14, 19)),
   url("../resources/Vectorrr.png");
  border-radius: 15px;
}
.group-3-flex{
  display: flex;
}
.group-3-header {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
  margin-left: 80px;
  margin-top: 100px;
  padding-top: 80px;
}
.group-3-text {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-left: 80px;
}
.btn-1 {
  margin-left: 80px;
  margin-top: 30px;
  background: none;
  border: none;
  color: #fff;
}
.btn-1:hover{
  color: #f00;
}
.group-3-img{
  width: 319.83px;
  height: 464.662px;
  margin-top: 100px;
  margin-left: 100px;
}
/* group-4 style */
.group-4 {
  margin: 120px auto;
  background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  border-radius: 16px;
}
.palce-date-time {
  text-align: center;
  padding-top: 150px;
}
.group-4-text {
  margin: 10px;
  color: #070211;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.marker {
  color: #f00;
}
.btn-2 {
  margin-top: 40px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;
}
.btn-2:hover{
  color:#f00;
  background:rgb(240, 230, 230);
}
/* group-5 style */
.group-5 {
  margin: 120px auto;
  background: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.group-5-part-1 {
  width: 393px;
  margin: 0;
}
.group-5-part-1-highlighter {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.group-5-part-1-header {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.group-5-part-1-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.group-5-part-2 {
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 10px solid #f00;
  margin-right: 20px;
}
.group-5-part-2-img {
  width: 364.844px;
  height: 364.844px;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 45px ;
  padding-right: 20px;
}
.group-5-part-3-header {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.group-5-part-3-text {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
.group-6 {
  width: 1300px;
  margin: 120px auto;
  padding-bottom: 0;
  border-radius: 8px;
}
.group-6-text {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.group-6-header {
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  margin: 10px;
}
.group-6-header span {
  color: #f00;
}
.group-6-description {
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 40px auto;
}

.group-6-img-container {
  background-image: url("../resources/Rectangle\ 1.png"),url("../resources/Rectangle\ 2.png");
  background-position: top right,bottom;
  background-repeat: no-repeat,no-repeat;
  margin-bottom: 0;
  border-radius: 16px 16px 16px 16px;
  display: flex;
  margin-top: 20px;
}
.group-6-img-1{
  width: 200px;
  height: 200px;
  margin-top: 100px;
  padding-right: 100px;

}
/*group-7*/
.group-7 {
  width: 1300px;
  margin: 120px auto;
}
.group-7-text {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}
.group-header {
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 15px 0;
}
.group-7-description {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 30px 0;
}

.btn-element:hover {
  border: 5px solid rgb(255, 0, 234);
  border-radius: 24px;
}
/* group-8 */
.group-8 {
  margin: 120px auto;
  background-color: rgb(233, 220, 228);
  border-radius: 16px;
}
.group-8-img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding: 100px 0 30px 0;
}
.group-8-header {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.group-8-description {
 text-align: center;
 color: rgba(7, 2, 17, 0.60);
 font-family: Inter;
 font-size: 16px;
 font-weight: 400;
 margin-left: 0;
}
.group-8-mail{
    text-align: center;
    margin-top: 20px;
    border: 0;
}
.mail{
    border: 0;
    margin: 0;
    padding: 20px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    width: 20%;
}
.mail:focus{
  outline: none;
  }
.submit{
    border: none;
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: white;
    margin-left: 0px;

}

/* footer */
.footer{
  background: #070211;
}
.footer-text{
  display: flex;
  justify-content: space-between;

}
.text-1{
  height: 100px;
  width: 300px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 200;
  margin: 50px;
}
.line{
  clear: both;
  color: black;
  background-color:black;
  height: 1px;
  border-width: 0;
  width: 1320px;
  height: 2px;
  margin: 20px auto;
}
.line:hover{
  clear: both;
  color:whitesmoke ;
  background-color:whitesmoke;
  height: 1px;
  border-width: 0;
  width: 1320px;
  height: 2px;
  margin: 20px auto;
}
.text-2{
  height: 100px;
  width: 300px;
  margin: 50px;
  display: inline;
}
.phone img,.web img{
  margin-left: 20px;
}
.phone{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 200;
}
.web{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
}
.social-media{
  text-align: center;

}
.last{
  display: flex;
  justify-content: space-between;
}
.copyright{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin: 50px;

}
.subscript{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin: 50px;
  padding-right: 50px;
}
/* header style */
/* main style */
/* footer style */
